* {
  padding: 0;
  margin: 0;
  border: none;
}

ul, ol, li {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: 'Barlow', sans-serif;
}
